@page
@model psts.web.Pages.Manage.ManageRolesModel
@{
    ViewData["Title"] = "Role Management";
}

<h2>Role Management</h2>

<div style="display:flex; gap:24px; align-items:flex-start;">

    <form method="get" style="display:flex; gap:8px; margin:6px 0 10px;">
        <input type="text" name="q" value="@Model.Query" placeholder="First and/or Last Name" style="flex:1;" />
        <button type="submit">Search</button>
    </form>
    <form method="post">
        <!-- User List Box -->
        <div style="width: 420px;">
            <label><b>Find User</b></label>
            <select name="SelectedUserId" size="8" style="width:100%;">
                @if (Model.SearchResults.Count > 0)
                {
                    @foreach (var user in Model.SearchResults)
                    {
                        <option title="@user.Role" value="@user.EmployeeId">@(user.LName + ", " + user.FName) </option>
                    }
                }

                @if ((Model.SearchResults.Count > 0) && (Model.PendingUsersProfiles.Count > 0))
                {
                    <option value=""></option>
                }


                @if (Model.PendingUsersProfiles.Count > 0)
                {
                    <option value="">Pending Users...</option>

                    @foreach (var user in Model.PendingUsersProfiles)
                    {
                        <option title="Pending" value="@user.EmployeeId">@(user.LName + ", " + user.FName)</option>
                    }
                }
            </select>
        </div>
        <div style="width: 260px;">
            <label><b>Set Role</b></label>

            <div>
                <label>
                    <input type="radio" name="TargetRole" value="Clerk" />
                    Clerk
                </label>
            </div>

            <div>
                <label>
                    <input type="radio" name="TargetRole" value="Employee" />
                    Employee
                </label>
            </div>

            <div style="margin-top:12px;">
                <button type="submit">Change Role</button>
            </div>

            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
    </form>
</div>
